body {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

h1,
h3 {
    font-family: Arial, sans-serif;
}


figure {
    float: right;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

figcaption {
    font-style: italic;
}

.table {
    width: 70%;
    margin-right: auto;
}
